<div class="pagination-wrapper">
  <% if (pages > 0) { %>
    <ul class="pagination text-center">
        <% if (current == 1) { %>
            <li class="disabled"><a>First</a></li>
        <% } else { %>
            <li><a class="show-loader" href="/topics/<%= topic %>?p=1&s=<%= sort%>"><</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a class="show-loader" href="/topics/<%= topic %>?p=<%= i %>&s=<%= sort%>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (current == pages) { %>
            <li class="disabled"><a>></a></li>
        <% } else { %>
            <li><a class="show-loader" href="/topics/<%= topic %>?p=<%= pages %>&s=<%= sort%>">></a></li>
        <% } %>
    </ul>
  <% } %>
</div>
