<div class="header-wrap">
  <div class="top-header">
    <div class="heading">
      <a href="/">
        <img src="/svg/logo.svg" alt="logo" />
      </a>
    </div>
    <ul>
      <li><a href="/" class="link <%= (currentPage === 'home') ? 'active': '' %>">Home</a></li>
      <li><a href="/about" class="link <%= (currentPage === 'about') ? 'active': '' %>">About</a></li>
      <li><a href="/contact" class="link <%= (currentPage === 'contact') ? 'active': '' %>">Contact</a></li>
      <li><a href="/privacy-policy" class="link <%= (currentPage === 'privacy-policy') ? 'active': '' %>">Privacy Policy</a></li>
    </ul>
    <div class="loader">
      <img src="/svg/loader.svg" alt='loader' />
    </div>
    <div class="search-wrapper">
      <form action="/query" method="get" class="search-form">
        <input type="text" class="form-control" value="<%= searchTerm %>" name="search" id="search"
          placeholder="Seach library...">
        <button type="submit" class="show-loader search-submit">
          <img src="/svg/search.svg" />
        </button>
      </form>
    </div>
  </div>
</div>