<% items.forEach(function(item) { %>
  <div class="card-container">
    <header>
      <div class="logo">
        <img src="<%= item.owner.avatar_url %>" />
      </div>
      <div class="title">
        <a href="/info/<%= item.owner.login %>/<%= item.name %>">
          <h4 title="<%= item.full_name %>"><%= item.name %></h4>
        </a>
      </div>
      <div class="star-bg"></div>
      <div class="star">
        <span><%= item.watchers %></span>
        <img src="/svg/star.svg" />
      </div>
    </header>
    <div class="body">
      <p><%= item.description %></p>
    </div>
    <footer>
      <ul>
        <li>
          <img src="/svg/forks.svg" />
          <span><%= item.forks %></span>
        </li>
      </ul>
      <a href="/info/<%= item.owner.login %>/<%= item.name %>">View</a>
    </footer>
  </div>
<% }); %>
